<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>Staff</h3>
    </header>
    <div style="text-align: center;">
        <ul class="navigationBar">
            <a class="navLink" href="/"><li style="float:left" class="navigationElement">Home</li></a>
            <a class="navLink" href="/map"><li style="float:left" class="navigationElement">Map</li></a>
            <a class="navLink" href="/social"><li style="float:left" class="navigationElement">Socials</li></a>
            <a class="navLink" href="/portfolio"><li style="float:left" class="navigationElement">Portfolio</li></a>
            <a class="navLink" href="/staff"><li style="float:left" class="navigationElement">Staff</li></a>
            <a class="navLink" href="/schedule"><li style="float:left" class="navigationElement">Schedule</li></a>
            <a class="navLink" href="/about"><li style="float:left" class="navigationElement">About</li></a>
        </ul>

    </div>
    <div style="text-align: center;">
        {{#each staff}}
            <p> Name: {{this.Name}}<br>
                Booksy: {{this.Booksy}}<br>
                Number: {{this.Number}}<br>
                Specialty: {{this.Specialty}}<br>
                Instagram: {{this.Instagram}}<br>
                Hours:<br>
                {{#each this.Hours}}
                    {{@key}}&emsp;
                    {{#each this}}
                        {{this}}&emsp;
                    {{/each}}
                    <br>
                {{/each}}
                Pricing:<br>
                {{#each this.Pricing}}
                    {{@key}}&emsp;
                    {{#each this}}
                        {{this}}&emsp;
                    {{/each}}
                    <br>
                {{/each}}
            </p>
            <br>
        {{/each}}
    </div>
</body>