<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>Staff</h3>
    </header>
    <div style="text-align: center;">
        <ul class="navigationBar">
            <a class="navLink" href="/"><li style="float:left" class="navigationElement">Home</li></a>
            <a class="navLink" href="/map"><li style="float:left" class="navigationElement">Map</li></a>
            <a class="navLink" href="/social"><li style="float:left" class="navigationElement">Socials</li></a>
            <a class="navLink" href="/portfolio"><li style="float:left" class="navigationElement">Portfolio</li></a>
            <a class="navLink" href="/staff"><li style="float:left" class="navigationElement">Staff</li></a>
            <a class="navLink" href="/schedule"><li style="float:left" class="navigationElement">Schedule</li></a>
            <a class="navLink" href="/about"><li style="float:left" class="navigationElement">About</li></a>
        </ul>

    </div>
    {{! Objectives:
    1. Add booksy links
    2. Add Instagram links
    3. Add staff css file
    
     }}
    <staff-page>
        {{#each staff}}
            <staff-box>
                <staff-photo>
                    <img src="/img/{{this.photo}}" alt="{{this.name}}" style="width: 90%; height: auto">
                </staff-photo>
                <staff-des>
                    <h2>{{this.name}}</h2>
                    <h4>{{this.specialty}}</h4>
                    <hr style="height: 5px; width: 30px; margin-left: 0; background-color: darkgray">
                    <i class="fa fa-at"></i>
                    <a href="{{this.link}}" target="_blank" rel="noopener noreferrer">{{this.booksy}}</a>
                    <br>
                    <i class="fa fa-mobile"></i>
                    <a href="tel:(815)-981-0927">{{this.number}}</a> {{! My own number for testing purposes}}
                    <br>
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/{{this.instagram}}" target="_blank" rel="noopener noreferrer">{{this.instagram}}</a>
                    <br>
                </staff-des>
            </staff-box>
        {{/each}}
    </staff-page>
</body>